.about-section{
    height: 70vh; /* Adjust height as needed */
    background-image: url('../../assets/aboutBg.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}